.tips-essentials-container {
    padding: 0 2rem;
    margin: 0 16rem;
}

.tips-essentials-title {
    color: hsl(40 30% 95%);
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.875rem;
    line-height: 2.25rem;
    letter-spacing: 0.05em;
    margin-bottom: 2rem;
}

.tips-essentials-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
}

.tips-essentials-card {
    background-color: hsl(25deg 30% 18% / 50%);
    padding: 1.5rem;
    border-color: hsl(40deg 30% 95% / 10%);
    border-width: 1px;
    border-radius: 0.5rem;
}

.tips-essentials-card-top {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.tips-essentials-card-svg {
    background-color: hsl(25deg 80% 45% / 20%);
    border-color: hsl(30 15% 82%);
    border-radius: 0.5rem;
    padding: .75rem;
}

.tips-essentials-card-title {
    color: hsl(40 30% 95%);
    font-family: Bebas Neue, sans-serif;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: .25rem;
}

.tips-essentials-card-disc {
    color: hsl(40deg 30% 95% / 60%);
    font-size: .875rem;
    line-height: 1.25rem;
}

.tips-essentials-card-li {
    display: flex;
    align-items: flex-start;
    color: hsl(40deg 30% 95% / 70%);
    font-size: 0.875rem;
    gap: 0.5rem;
}

.tips-essentials-a:hover {
    color: hsl(25 80% 45%);
}