.categories {
    padding: 128px 0;
}

.categories-sub {
    color: hsl(25 80% 45%);
    letter-spacing: 0.2em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 0.75rem;
}

.categories-titl {
    font-family: "Bebas Neue", sans-serif;
    font-size: 3.75rem;
    line-height: 1;
    letter-spacing: 0.05em;
}

.categories-desc {
    color: hsl(30 10% 40%);
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 42rem;
}

.categories-guides {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    max-width: 1400px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    .categories-guides {
        grid-template-columns: repeat(2, 1fr);
    }
}

.categories-img-div {
    overflow: hidden;
    aspect-ratio: 4 / 5;
}

.categories-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 500ms;
    display: block;
    max-width: 324px;
    height: 405px;
    border-radius: 0.5rem;
}

.categories-img-gradient {    
    background-image: linear-gradient(to top, #3c2c20b3, #00000000);
    inset: 0px;
    position: absolute;
    height: 405px;
    max-width: 324px;
    border-radius: 0.5rem;
}

.big-game, .waterfowl, .upland-turkey, .predator-hog {
    animation-delay: 0ms;
    border-radius: 0.5rem;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.big-game:hover, .waterfowl:hover, .upland-turkey:hover, .predator-hog:hover {
    transition-property: all;
    transition-duration: 0.3s;
    animation-duration: 0.3s;
    transform: translateY(-4px);
}

.categories-text-box {
    padding: 1.5rem;
    right: 0;
    left: 0;
    bottom: 0;
    position: absolute;
}

.article-count {
    color: hsl(25 80% 45%);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 0.75rem;
    line-height: 1rem;
    gap: 0.5rem;
    align-items: center;
    display: flex;
    margin-bottom: 0.5rem;
}

.categories-guides-titl {
    font-family: "Bebas Neue", sans-serif;
    margin-bottom: 0.25rem;
    font-size: 1.875rem;
    line-height: 2.25rem;
    letter-spacing: 0.05em;
    color: white;
}

.categories-guides-desc {
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
    color: hsl(40, 30%, 95%, 0.7);
}

.read-guides {
    transition-property: all;
    transform-origin: left center;
    color: hsl(25 80% 45%);
    gap: 0.5rem;
    align-items: center;
    display: flex;
    transition-duration: 150ms;
}


.read-guides-text {
    letter-spacing: 0.025em;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.arrow {
    display: inline-block;              /* important */
    transition: transform 150ms ease;
    transform-origin: left center;      /* pivot point */
    transform-box: fill-box; 
}

.big-game:hover .read-guides .arrow {
    transform: translateX(7px);
}

.waterfowl:hover .read-guides .arrow {
    transform: translateX(7px);
}

.upland-turkey:hover .read-guides .arrow {
    transform: translateX(7px);
}

.predator-hog:hover .read-guides .arrow {
    transform: translateX(7px);
}