.clothing-layers-div {
    padding: 0 1rem;
    margin: 0 16rem;
}

.clothing-layers-top {
    text-align: center;
    margin-bottom: 3rem;
}

.clothing-layers-title {
    color: hsl(40 30% 95%);
    font-family: Bebas Neue, sans-serif;
    letter-spacing: .05em;
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}

.clothing-layers-disc {
    color: hsl(40deg 30% 95% / 70%);
    max-width: 42rem;
    margin: 0 auto;
}

.clothing-layers-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 2rem;
}

.clothing-layers-card-number {
    position: absolute;
    color: hsl(0deg 0% 100% / 20%);
    font-family: Bebas Neue, sans-serif;
    font-size: 3.75rem;
    line-height: 1;
    left: 1rem;
    top: -1.5rem;
}

.clothing-layers-card {
    background-color: hsl(220deg 8% 65%);
    border-radius: 1rem;
    padding: 2rem;
}

.clothing-layers-card-title {
    color: hsl(25 30% 18%);
    font-family: Bebas Neue, sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
}

.clothing-layers-card-subtitle {
    color: hsl(25deg 30% 18% / 60%);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.clothing-layers-card-list-title {
    color: hsl(25 30% 18%);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.clothing-layers-card-li {
    display: flex;
    align-items: center;
    color: hsl(25deg 30% 18% / 70%);
    font-size: 0.875rem;
    line-height: 1.25rem;
}