.clothing-conditions-div {
    padding: 0 1rem;
    margin: 0 16rem;
}

.clothing-conditions-title {
    color: hsl(25 30% 18%);
    font-family: Bebas Neue, sans-serif;
    text-align: center;
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-bottom: 3rem;
}

.clothing-condition-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.5rem;
}

.clothing-condition-cards {
    display: flex;
    background-color: hsl(30 15% 96%);
    border-radius: 1rem;
    gap: 1.5rem;
    padding: 1.5rem;
}

.clothing-condition-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    background-color: hsl(145deg 40% 22% / 10%);
    width: 4rem;
    height: 4rem;
}

.clothing-condition-cards-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.clothing-condition-cards-title {
    color: hsl(25 30% 18%);
    font-family: Bebas Neue, sans-serif;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.clothing-condition-cards-temp {
    color: hsl(25 80% 45%);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.clothing-condition-cards-li {
    display: flex;
    align-items: center;
    color: hsl(25deg 30% 18% / 70%);
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.clothing-condition-cards-li-num {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    width: 1.25rem;
    height: 1.25rem;
    color: hsl(25 30% 18%);
    background-color: hsl(25deg 30% 18% / 10%);
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
}

.clothing-condition-cards-protip {
    background-color: hsl(145deg 40% 22% / 10%);
    color: hsl(145 40% 22%);
    font-size: 0.75rem;
    line-height: 1rem;
    border-radius: 0.5rem;
    padding: 0.75rem;
}