.clothing-camouflage-div {
    padding: 0 1rem;
    margin: 0 16rem;
}

.clothing-camouflage-title {
    color: hsl(25 30% 18%);
    font-family: Bebas Neue, sans-serif;
    font-size: 2.25rem;
    line-height: 2.5rem;
    letter-spacing: 0.05em;
    text-align: center;
    margin-bottom: 1rem;
}

.clothing-camouflage-disc {
    color: hsl(25deg 30% 18% / 70%);
    text-align: center;
    max-width: 42rem;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.clothing-camouflage-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1.5rem;
}

.clothing-camouflage-card {
    background-color: hsl(30 15% 96%);
    border-radius: 1rem;
    padding: 1.5rem;
}

.clothing-camouflage-colors-div {
    display: flex;
    overflow: hidden;
    border-radius: 0.5rem;
    gap: 0.25rem;
    height: 3rem;
    margin-bottom: 1rem;
}

.clothing-camouflage-colors-title {
    color: hsl(25 30% 18%);
    font-family: Bebas Neue, sans-serif;
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.05em;
    margin-bottom: 0.25rem;
}

.clothing-camouflage-reminder {
    color: hsl(40 30% 95%);
    background-color: hsl(25 30% 18%);
    margin-top: 3rem;
    text-align: center;
    border-radius: 1rem;
    padding: 2rem;
}

.clothing-camouflage-reminder-title {
    font-family: Bebas Neue, sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
    letter-spacing: 0.05em;
}