.hero-overlay {
    background: linear-gradient(180deg, #3c2c20b3, #3c2c2066, #3c2c20cc);
}

.hero-bg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.hero-subtitle {
  color: hsl(25 80% 45%);
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3em;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.hero-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 6rem;
  letter-spacing: 0.06em;
  color: hsl(40 30% 95%);
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

.text-gradient {
    color: #cf6317;
}

.hero-description {
  color: rgba(245, 245, 220, 0.8);
  font-size: 20px;
  max-width: 42rem;
  margin: 0 auto 2.5rem auto;
  font-family: 'YourBodyFont', sans-serif;
}

.btn-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  font-family: 'YourBodyFont', sans-serif;
  background-color:#cf6317;
  color: hsl(40 30% 95%);
  padding: 0 40px;
  height: 3.5rem;
  border-radius: 0.375rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s;
}

.btn-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.btn-secondary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-family: 'YourBodyFont', sans-serif;
  border: 2px solid #F5F5DC;
  background: transparent;
  color: hsl(40 30% 95%);
  padding: 0 2.5rem;
  height: 3.5rem;
  border-radius: 0.375rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s;
}

.btn-secondary:hover {
  background-color: hsl(40 30% 95%);
  color: #3b2d23;
}

.scroll-down {
  color: rgba(245, 245, 220, 0.6);
  transition: color 0.3s;
}

.scroll-down:hover {
  color: #F5F5DC;
}
