@media (min-width: 1441px) {
    .container {
        padding: 0 2rem;
        margin: 0 auto;
        max-width: 1200px;
    }
}

@media (max-width: 1440px) {
    .container {
        padding: 0 2rem;
        margin: 0 auto;
    }
}
