.optics-types-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 1.5rem;
    margin-bottom: 4rem;
    margin: 0 16rem;
    margin-bottom: 4rem;
}

.optics-types-card {
    position: relative;
    background-color: hsl(25 30% 18%);
    color: hsl(40 30% 95%);
    border-radius: 1rem;
    padding: 1.5rem;
    border-width: 2px;
}

.optics-types-essential {
    display: flex;
    position: absolute;
    align-items: center;
    background-color: hsl(25 80% 45%);
    color: hsl(25 30% 18%);
    border-radius: 9999px;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    padding: 4px 12px;
    top: -12px;
    right: -12px;
}

.optics-types-card-title {
    font-family: Bebas Neue, sans-serif;
    color: hsl(40 30% 95%);
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.05em;
}

.optics-types-card-disc {
    color: hsl(40deg 30% 95% / 70%);
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 0.75rem;
}

.optics-types-card-distance {
    color: hsl(25 80% 45%);
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
}