.optics-numbers {
    background-color: hsl(145deg 40% 22% / 5%);
    padding: 3rem;
    border-radius: 1.5rem;
    margin: 0 16rem;
    margin-bottom: 4rem;
}

.optics-numbers-title {
    font-family: Bebas Neue, sans-serif;
    color: hsl(25 30% 18%);
    font-size: 2.25rem;
    line-height: 2.5rem;
    letter-spacing: 0.05em;
    margin-bottom: 2rem;
}

.optics-numbers-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    gap: 3rem;
}

.optics-numbers-answer {
    color: hsl(40 30% 95%);
    background-color: hsl(25 30% 18%);
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 1.5rem;
}

.optics-numbers-answer-title {
    font-family: Bebas Neue, sans-serif;
    font-size: 3.75rem;
    line-height: 1;
    text-align: center;
    margin-bottom: 1rem;
}

.optics-numbers-answer-grid {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1rem;
    text-align: center;
}

.optics-numbers-types {
    color: hsl(25 30% 18%);
    font-family: Bebas Neue, sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}

.optics-numbers-types-cards {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    background-color: hsl(30 15% 96%);
    border-radius: 0.75rem;
    padding: 1rem;
    margin-bottom: 1rem;
}

.optics-numbers-types-cards-title {
    color: hsl(25 80% 45%);
    font-family: Bebas Neue, sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
}