.optics-scope-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.5rem;
}

.optics-scope-cards {
    background-color: hsl(25 30% 18%);
    color: hsl(40 30% 95%);
    border-radius: 1rem;
    padding: 1.5rem;
    text-align: left;
}

.optics-scope-cards-title {
    font-family: Bebas Neue, sans-serif;
    font-size: 1.25rem;
    line-height: 1.75rem;
    letter-spacing: 0.05em;
    margin-bottom: 1rem;
}

.optics-scope-cards-disc {
    color: hsl(40deg 30% 95% / 70%);
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin-bottom: 1rem;
}

.optics-scope-cards-tip {
    background-color: hsl(25deg 80% 45% / 20%);
    border-radius: 0.5rem;
    padding: 0.75rem;
}

.optics-scope-cards-tip-txt {
    display: flex;
    align-items: center;
    color: hsl(25 80% 45%);
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
}

.optics-guide-div {
    background-color: hsl(25deg 80% 45% / 10%);
    border-radius: 1rem;
    padding: 2rem;
    margin: 0 16rem;
    margin-bottom: 4rem;
}